<!DOCTYPE html>
<html>

<head lang="en">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= username %>
  </p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum quas, cum animi explicabo assumenda commodi ex
    quod. Inventore fugiat iste dolor. Voluptatum facilis reprehenderit dolores nesciunt aperiam incidunt. A, tempora!
  </p>
</body>

</html>